#Calc {
    background-color: coral;
    border-color: black;
    border-width: 3px;
    border-radius: 12px;
    position: relative;
    width: 470px;
    height: 300px;
    text-align: center;
    cursor: all-scroll;
}
#Calc button {
    background-color: cornflowerblue;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 12px;
    border: transparent;
    font-size: 1.5em;
    position: relative;
    cursor: pointer;
}
#Calc input {
    background-color: darkgoldenrod;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 12px;
    border: transparent;
    font-size: 1.9em;
    cursor: text;
}

#randomM {
    background-color: coral;
    border: transparent;
    border-radius: 12px;
    position: relative;
    width: 470px;
    height: 300px;
    text-align: center;
}
#randomM button {
    background-color: cornflowerblue;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 12px;
    border: transparent;
    font-size: 1.5em;
    position: relative;
}
#randomM input {
    background-color: darkgoldenrod;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 12px;
    border: transparent;
    font-size: 1.9em;
}

#Aver {
    background-color: coral;
    border-color: black;
    border-width: 3px;
    border-radius: 12px;
    position: relative;
    width: 470px;
    max-height: 300px;
    text-align: center;
    cursor: all-scroll;
    overflow: scroll;
    padding: auto;
}
#Aver button {
    background-color: cornflowerblue;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 12px;
    border: transparent;
    font-size: 1.5em;
    position: sticky;
    cursor: pointer;
    top: 0px;
}
#Aver input {
    background-color: darkgoldenrod;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 12px;
    border-width: 3px;
    font-size: 1.9em;
    cursor: text;
}